*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #B0DB9C;
    text-align: center;
}

.con{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.heading{
    display: flex;
    align-items: center;
    background-color: #F5AFAF;
    justify-content: center;
}

.heart{
    vertical-align: middle;
    margin-bottom: 26px;
    align-self: center;
}

.head{
    line-height: 1;
    color: #fff;
    font-family: cursive;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 12vmin;
    color: #fff;
    font-family: cursive;
    background-color: #F9DFDF;
    box-shadow: 0 4px 12px rgba(200, 100, 100, 0.2);
}

.box:hover{
    box-shadow: 0 4px 16px 0px rgba(232,154,170,0.45);
    transform: scale(1.03);
}

.Reset{
    width:200px;
    height: 50px;
    border-radius: 10px;
    background-color: #F9DFDF;
    font-size: x-large;
    font-weight: 900;
    font-family: cursive;
    color: #e6617c;
    text-decoration: wavy;
    border: none;
    outline: none;
}

.Reset:hover{
    width: 250px;
    height: 60px;
    box-shadow: rgba(238, 126, 126, 0.2);
}

.Reset:active{
    width: 150px;
    height: 30px;
}

.candy{
   height: 25vmin;
    width: 50vmin;
    align-self: center;
    justify-self: center; 
}

.cats{
    height: 15vmin;
    width: 30vmin;
    align-self: center;
    justify-self: center;
}

.cats:hover{
    animation: tilt 1s ;
}

/* .star{
    height: 5px;
    width: 50px;
    align-self: center;
    justify-self: center;  
} */

.winner{
    background-color: #e39191;
    color: #fff;
    font-family: cursive;
    width: 40vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    height: 40vmin;
    padding: 5px;
    border-radius: 5px;
    animation: win 1.5s ease-in-out linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    box-shadow: #efb4b4 1px 1px 1px;
}

.winner:hover{
    box-shadow: rgba(239, 118, 118, 0.2)  ;
}

@keyframes tilt{
    0%{
        transform: rotate(-30deg);
    }
    50%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(-30deg);
    }
}
